<table class="table table-dark table-striped table-hover text-center">

  <thead class="border">
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.name %></td>
        <td><%= recipe_food.quantity_measure %></td>
        <td><%= recipe_food.value %></td>
        <td class="d-flex justify-content-around">
          <% if recipe_food.recipe.user == current_user%>
            <%= button_to 'Delete', recipe_recipe_food_path(id: recipe_food.id, recipe_id: recipe_food.recipe_id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
              <button class="btn btn-danger" disabled>Delete</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>