<h1>Recipes</h1>


<%@recipes.each do |recipe|%>
<div class="container border border-4 border-danger p-2 border-opacity-10 rounded mb-3">
  <div class="row">
    <div class="col-3 text-center">
    <p><%=recipe.name%></p>
    </div>
    <div class="col-6">
    <p><%=recipe.description%></p>
    </div>
  </div>
  </div>
<%end%>



