<section>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="my-3">Add New Food</h2>
    <%= link_to "Back to Foods List", foods_path, class: 'btn btn-outline-secondary' %>
  </div>

  <%= render "form", food: @food %>
  
</section>